<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.kocesat.prensbackend.infra.enrollment.EnrollmentMapper">
    <resultMap id="BaseResultMap" type="com.kocesat.prensbackend.infra.enrollment.model.EnrollmentEntity">
        <id property="id" column="id"/>
        <result column="course_offer_id" property="courseOfferId"/>
        <result column="course_code" property="courseCode"/>
        <result column="course_name" property="courseName"/>
        <result column="student_id" property="studentId"/>
        <result column="year" property="year"/>
        <result column="semester" property="semester"/>
        <result column="status" property="status"/>
        <result column="insert_time" property="insertTime" javaType="java.time.LocalDateTime"/>
        <result column="update_time" property="updateTime" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <select id="select"
            resultMap="BaseResultMap"
            parameterType="map"
    >
        select
            enrollment.*,
            course.code as course_code,
            course.name as course_name
        from prens.tenrollment enrollment
        left join prens.tcourse_offer course_offer on course_offer.id = enrollment.course_offer_id
        left join prens.tcourse course on course.code = course_offer.course_code
        <where>
            enrollment.student_id = #{studentId}
            and enrollment.year = #{year}
            and enrollment.semester = #{semester}
        </where>
    </select>

    <insert id="insert"
            parameterType="com.kocesat.prensbackend.infra.enrollment.model.EnrollmentEntity"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id"
    >
        insert into prens.tenrollment
            <trim prefix="(" suffix = ")" suffixOverrides=",">
                course_offer_id,
                student_id,
                year,
                semester,
                status,
                insert_time,
                update_time
            </trim>
        values
            <trim prefix="(" suffix = ")" suffixOverrides=",">
                #{courseOfferId},
                #{studentId},
                #{year},
                #{semester},
                #{status},
                current_timestamp,
                current_timestamp
            </trim>
    </insert>
</mapper>